@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins';
    margin: 0px;
    color : rgb(94, 94, 94)
}

.signupPage-div ,
.loginPage-div{
    display: flex;
    flex-direction: column;
    margin: 10vh 35vw;
    padding: 5vh 5vw;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(207,191,207,1);
    -moz-box-shadow: 0px 10px 18px 0px rgba(207,191,207,1);
    box-shadow: 0px 10px 18px 0px rgba(207,191,207,1);
}

.signupPage-heading,
.loginPage-heading{
    font-size: 24px;
    margin-bottom: 2vh;
}

.signupPage-div > input , select,
.loginPage-div > input , select{
    height: 6vh;
    margin-bottom: 2vh;
    font-size: 16px;
    padding: 0 0.5vw;
    border-radius: 5px;
    border: 0.5px solid rgb(203, 201, 201) ;
    outline: none;
}

.signupPage-div > input::placeholder,
.loginPage-div > input::placeholder{
    color : rgb(213, 213, 213);
}

.loginPage-div > button:hover,
.signup-div > button:hover{
    background-color: #2c762f;
}



/* Product Listing Page */

.productListingPage-container{
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 10vw;
    background-color: rgb(205, 205, 205);
    border-radius: 8px;
}
.productListingPage-product{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 45vh;
    width: 15vw;
    margin: 4vh 3vw;
    padding: 2vh 2vw;
    /* border: 0.5px solid rgb(203, 201, 201); */
    border-radius: 8px;
    font-size: 18px;
}
.productListingPage-product-sellerName,
.productListingPage-product-description{
    color: rgb(153, 151, 151);
    font-size: 16px;
}
.productListingPage-product-description{
    height: 7vh;
}
.productListingPage-product-title{
    font-size: 26px;
    margin: 0.8vh 0;
}
.productListingPage-product-quantity{
    border: 0.5px solid rgb(229, 227, 227);
    display: flex;
    justify-content: space-around;
    padding: 0.3vh 0.4vw;
}
.minus-btn ,
.add-btn{
    text-align: center;
    cursor: pointer;
    width: 4vw;
}
.productListingPage-product-price{
    margin-top: 2vh;
}
.productListingPage-product-AddToCart{
    margin-top: 5vh;
    border: 0.5px solid rgb(196, 3, 3);
    text-align: center;
    padding: 0.5vh 0;
    border-radius: 4px;
    color: rgb(196, 3, 3);
    transition: all 0.2s ease-out;
}
.productListingPage-product-AddToCart:hover{
    background-color:rgb(196, 3, 3);
    /* border: none; */
    color : white;

}
.productListingPage-product-testQuantity{
    cursor: pointer;
    margin-top: 1vh;
    border: 0.5px solid rgb(196, 3, 3);
    text-align: center;
    padding: 0.5vh 0;
    border-radius: 4px;
    color: rgb(196, 3, 3);
    transition: all 0.2s ease-out;
}
.productListingPage-product-testQuantity:hover{
    background-color:rgb(196, 3, 3);
    /* border: none; */
    color : white;

}

/* Add Product Page */

.addProductPage-div{
    padding: 5vh 30vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}
.addProductPage-heading{
    font-size: 20px;
    margin-bottom: 2vh;
}
.addProductPage-div > div{
    padding: 4vh 0;
    border-top: 0.5px solid rgb(227, 227, 227);
    border-bottom: 0.5px solid rgb(227, 227, 227);
}
.addProductPage-div > div > input {
    height: 3vh;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid rgb(227, 227, 227);
    background-color: rgb(245, 245, 245);    
    font-size: 16px;
    margin-top: 1vh;
}
.addProductPage-div > div > input:focus{
    background-color: white;
    outline: none;
}

.heading{
    font-size: 20px;
}
#description{
    height: 6vh;
}


/* Cart Page */

.cart-div {
    display: flex;
    margin: 3vh 10vw;
    background-color: rgb(205, 205, 205);
    border-radius: 8px;
}

.cart-products-div {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-top: 2vh;
}

.cartProduct {
    display: flex;
    background-color: white;
    height: 15vh;
    width: 40vw;
    margin: 2vh 1vw;
    padding: 2vh 2vw;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid rgb(203, 201, 201);
}

.cartProduct-data-div{
    /* display: flex;
    flex-direction: column; */
    width: 13vw;
}
.cartProduct-title{
    font-size: 24px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(59, 59, 59);
}
.cartProduct-descripition{
    font-size: 10px;
}

.cartProduct-Price{
    font-size: 24px;
    align-self: center;
    color: green;
    width: 9vw;
}

.cartProduct-quantity {
    align-self: center;
    width: 9vw;
    font-size: 24px;

}

.cartProduct-removeBtn {
    align-self: center;
    cursor: pointer;

    color: rgb(196, 3, 3);
    background-color: white;
    text-align: center;
    padding: 0.5vh 1vw;
    border-radius: 4px;
    margin-top: 1vh;
    border : 0.5px solid rgb(196, 3, 3);
    transition: all 0.2s ease-out;
}

.cartProduct-removeBtn:hover {
    color: white;
    background-color: rgb(196, 3, 3);
}
