@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  color: rgb(94, 94, 94);
}



/* Cart Page */

.cart-div {
  display: flex;
  margin: 3vh 10vw;
  background-color: rgb(205, 205, 205);
  border-radius: 8px;
}

.cart-products-div {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-top: 2vh;
}

.cartProduct {
  display: flex;
  background-color: white;
  height: 15vh;
  width: 40vw;
  margin: 2vh 1vw;
  padding: 2vh 2vw;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgb(203, 201, 201);
}

.cartProduct-data-div {
  /* display: flex;
    flex-direction: column; */
  width: 13vw;
  margin-right: 1vw;
}

.cartProduct-title {
  font-size: 24px;
  margin-top: 1vh;
  color: rgb(59, 59, 59);
}

.cartProduct-descripition {
  font-size: 9px;
}

.cartProduct-Price {
  font-size: 24px;
  align-self: center;
  color: green;
  width: 9vw;
}

.cartProduct-quantity {
  align-self: center;
  width: 9vw;
  font-size: 24px;
}

.cartProduct-removeBtn {
  align-self: center;
  cursor: pointer;
  font-size: 18px;
  color: rgb(196, 3, 3);
  background-color: white;
  text-align: center;
  padding: 0.5vh 1vw;
  border-radius: 4px;
  margin-top: 1vh;
  border: 0.5px solid rgb(196, 3, 3);
  transition: all 0.2s ease-out;
}

.cartProduct-removeBtn:hover {
  color: white;
  background-color: rgb(196, 3, 3);
}

#google {
  background-color: #33a554;
  transition: background-color 0.15s ease-in-out;
  font-weight: 800;
}

#google:hover {
  background-color: #4080ee;
}