/* ChatComponent.css */

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .chat-messages {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
  }
  
  .user,
  .model {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 70%;
  }
  
  .user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
  }
  
  .model {
    background-color: #f4f4f4;
    color: #333;
    align-self: flex-start;
  }
  
  .chat-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 15px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #007bff ;
    cursor: pointer;
    font-size: 14px;
    margin-right: 2vh;
  }
  
  button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

  }