/* ChatComponent.css */

.chat-container {
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
}

.user,
.model {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 70%;
}

.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.model {
  background-color: #f4f4f4;
  color: #333;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.LLM-h {
  text-align: center;
}

.LLM-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-direction: ; */
  margin: 10px;
  padding: 15px;
}

.LLM-submit,
.LLM-speak,
.LLM-stop {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #0a8114;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.LLM-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 10px;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

.BTNS > button {
  background-color: #80ed99;
  /* font-size; */
}
.BTNS {
  display: grid;
}
