/* LocationComponent.css */

.footer-location {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-location:hover {
  background-color: #555;
}

p {
  color: #fff;
}


  