@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto';
}

.navbar {
  display: flex;
  height: 10vh;
  padding: 0 2vw;
  justify-content: space-between;
  background-color: #22577A;
  align-items: center;
  /* gap: 10vw; */
}

.navbar-title {
  color: white;
  display: flex;
  align-items: center;
}

.navbar-title>img {
  height: 38px;
  margin-right: 1vw;
}

.navbar-title>div {
  color: white;
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
}

.navbar-title>div>p {
  color: white;
  font-weight: 400;
  font-size: 10px;
  margin-left: 10px;
}

.navbar-links {
  display: flex;
  gap: 4vw;
  transition: all 1s ease-out;
}

.navbar-links>a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navbar-mobile-container {
  display: none;
}

@media(max-width : 500px) {

  .navbar {
    height: 8vh;
    padding: 0 4vw;
    z-index: 2;
    gap: 0px;
  }

  .navbar-links {
    display: none;
    transform: translateY(-100%);
    color: #22577A;
    top: 8vh;
    left: 0;
    right: 0;
    background-color: #80ED99;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    z-index: 1;
    position: absolute;
    flex-direction: column;
  }

  .navbar-links>a {
    color: black;
    font-size: 25px;
  }

  .navbar-title>img {
    height: 45px;
  }

  .navbar-title>div>p {
    font-size: 14px;
  }

  .navbar-mobile-container {
    display: block;
  }

  .navbar-mobile-container>img {
    height: 5vh;
  }

}