.navbar {
  display: flex;
  height: 10vh;
  padding: 0 2vw;
  justify-content: space-between;
  background-color: #22577A;
  align-items: center;
  gap: 10vw;
}

.navbar-title {
  color: white;
  display: flex;
  align-items: center;
}

.navbar-title>img {
  height: 38px;
  margin-right: 1vw;
}

.navbar-title>div {
  color: white;
  font-size: 20px;
}

.navbar-title>div>p {
  color: white;
  font-size: 10px;
  margin-left: 10px;
}

.navbar-links {
  display: flex;
  gap: 4vw;
}

.navbar-links>a {
  color: white;
  text-decoration: none;
}