/* Landing Page */

@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Roboto&display=swap");
.landingPage-routes-div {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}
.landingPage-div {
  margin-top: 60px;
  width: 100vw;
  height: 74vh;
}

.landingPage-routes-headings {
  font-family: "Capriola", sans-serif;
  color: #22577a;
  font-size: 40px;
}

.landingPage-headings-desc-1 {
  font-family: "Capriola", sans-serif;
  color: #22577a;
  font-size: 25px;
  margin: 1vh 0;
}

.landingPage-headings-desc {
  font-family: "Capriola", sans-serif;
  color: #22577a;
  font-size: 20px;
}

.landingPage-routes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 4vh;
}

.landingPage-route {
  font-family: "Capriola", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #22577a;
  padding: 8px 2px;
  border-radius: 20px;
  width: 29vw;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80ed99;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.landingPage-route:hover {
  /* transform: translateX(10%) */
}

@media (max-width: 500px) {
  .landingPage-routes-div {
    margin-left: 0;
    padding: 0 4vw;
  }

  .landingPage-route {
    width: 100%;
    /* border-radius: 10px; */
  }
}
