.profilePage-div {
  margin-bottom: 12vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 12vh 6vw;
  gap: 6vw;
}

.profilePage-personalInfo {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  /* justify-content: left; */
  /* align-items: center; */
  gap: 2vh;
}

.profilePage-userName {
  color: #58c571;
  font-size: 60px;
}

.profilePage-Address {
  color: #22577a;
  font-size: 30px;
}

.profilePage-User-Info {
  margin-top: 2vh;
}

.profilePage-User-Info > p {
  color: #22577a;
  font-size: 30px;
  margin-bottom: 2vh;
}

.profilePage-btns {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.profilePage-btns > div {
  font-size: 20px;
  width: 20vw;
}

.profilePage-changeToSeller {
  cursor: pointer;
  border: 0.5px solid #80ed99;
  padding: 1vh 0;
  border-radius: 10px;
  color: Black;
  background-color: #80ed99;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.profilePage-changeToSeller:hover {
  background-color: #80ed99;
  color: white;
}

.profilePage-logout-btn {
  cursor: pointer;
  border: 0.5px solid #22577a;
  padding: 1vh 0;
  border-radius: 10px;
  background-color: #22577a;
  color: white;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.profilePage-logout-btn:hover {
  background-color: #22577a;
  color: white;
}

.profilePage-order-history {
  cursor: pointer;
  border: 0.5px solid #80ed99;
  padding: 1vh 0;
  border-radius: 4px;
  color: #80ed99;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.profilePage-order-history:hover {
  background-color: #80ed99;
  color: white;
}

.profilePage-view-sales {
  cursor: pointer;
  border: 0.5px solid #80ed99;
  padding: 1vh 0;
  border-radius: 4px;
  color: #80ed99;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.profilePage-view-sales:hover {
  background-color: #80ed99;
  color: white;
}

.profilePage-delete-account {
  width: 14vw;
  cursor: pointer;
  border: 0.5px solid rgb(196, 3, 3);
  text-align: center;
  padding: 1vh 0;
  border-radius: 4px;
  color: rgb(196, 3, 3);
  transition: all 0.2s ease-out;
}

.profilePage-delete-account:hover {
  background-color: rgb(196, 3, 3);
  color: white;
}

@media (max-width: 500px) {
  .profilePage-div {
    flex-direction: column;
    padding: 8vh 5vw;
  }

  .profilePage-personalInfo {
    /* align-items: center; */
    /* justify-content: center; */
  }

  .profilePage-userName {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: -15px;
  }

  .profilePage-Address {
    font-size: 20px;
    margin-top: -5px;
  }

  .profilePage-User-Info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px 0px;
  }

  .profilePage-User-Info > p {
    font-size: 20px;
    margin: 3px 0px;
  }

  .profilePage-btns > div {
    width: 65vw;
    font-size: 20px;
  }
}
