.viewProductPage-div {
  display: flex;
  padding: 8vh 8vw;
}

.viewProductPage-left-div {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewProductPage-left-div > div > img {
  margin-bottom: 10px;
  width: 20vw;
}

.viewProductPage-right-div {
  width: 50vw;
}

.viewProduct-title {
  font-size: 35px;
  color: black;
  margin-bottom: 3vh;
}

.viewProduct-price {
  font-size: 28px;
  margin-bottom: 4vh;
  /* color: black; */
}

.viewProduct-quantity-div {
  display: flex;
  gap: 2vw;
}

.viewProduct-quantity-div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.viewProduct-quantity-btn {
  border: 0.5px solid rgb(229, 227, 227);
  display: flex;
  justify-content: space-around;
  padding: 1vh 1vw;
  font-size: 20px;
  border-radius: 20px;
}

.viewProduct-plus,
.viewProduct-minus {
  text-align: center;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  /* border: 1px solid black; */
  /* background-color: aquamarine; */
  border-radius: 50%;
}

.viewProduct-cart-btn {
  display: flex;
  gap: 2vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.viewProduct-addToCart-btn {
  cursor: pointer;
  background-color: #80ed99;
  padding: 1vh 0;
  border-radius: 10px;
  color: black;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.viewProduct-addToCart-btn:hover {
  background-color: #80ed99;
  color: white;
}

.viewProduct-addTestToCart-btn {
  width: 14vw;
  cursor: pointer;
  background-color: rgb(255, 134, 134);
  text-align: center;
  padding: 1vh 0;
  border-radius: 10px;
  color: black;
  transition: all 0.2s ease-out;
}

.viewProduct-addTestToCart-btn:hover {
  background-color: rgb(196, 3, 3);
  color: white;
}

.viewProduct-TestQuantity-guide {
  border-bottom: 0.5px solid rgb(216, 216, 216);
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
}

.viewProduct-TestQuantity-guide > img {
  height: 3vh;
  margin-right: 0.5vw;
}

@media (max-width: 500px) {
  .viewProductPage-div {
    flex-direction: column;
    align-items: center;
    padding: 4vh 8vw;
  }

  .viewProductPage-right-div {
    width: 80vw;
  }

  .viewProduct-title {
    margin-bottom: 1vh;
  }

  .viewProductPage-left-div > div > img {
    width: 60vw;
    height: 20vh;
    object-fit: contain;
  }

  .viewProduct-quantity-div {
    flex-direction: column;
    align-items: center;
  }

  .viewProduct-quantity-btn {
    width: 60vw;
  }

  .viewProduct-cart-btn {
    flex-direction: column;
    align-items: center;
  }

  .viewProduct-cart-btn > div {
    width: 80vw;
  }

  .viewProduct-description {
    margin-bottom: 10vh;
  }
}
